<img class="background" src="../../assets/Final Picks/Locations/fortune_tellers_room.jpeg" alt="">
<audio src="../../assets/Music/Haunted Library Ambience and Music 📖👻 slightly spooky Halloween atmosphere halloweenambience.mp3#t=00:00:31" autoplay></audio>
<app-ui-overlay [PC]="PC" [currentNarration]="narration" [currentDialogue]="dialogue" [currentOptions]="options" [portraitID]="portraitID" [backpackOpen]="backpackOpen" (newSelection)="optionSelection($event)" (reset)="resetEncounter()"></app-ui-overlay>

